<div class="backround">
  <div style="float: right;" class="container">
    <form (ngSubmit)="vytvoritTema(nadpis.value, obsah.value, this.username)">
  
      <label for="lname">Nadpis tématu</label>
      <input #nadpis type="text" id="lname" name="lastname" placeholder="Nadpis tématu ..">
  
      <label for="subject">Váš dotaz</label>
      <textarea #obsah id="subject" name="subject" placeholder="Text .." style="height:200px; padding: 10px; resize: none; "></textarea>
  
      <input type="submit" value="Vytvořit téma">
  
    </form>
  </div>
<div style="padding: 20px;" class="container">
    <div class="item" *ngFor="let posts of post"> 
        <div>
        <h1 style="cursor: pointer;" [routerLink]="['/user' , posts.id]">{{posts.username}}</h1>
        
        <h3>{{posts.nadpis}}</h3>
        </div>
      <br style="background-color: grey;" >
        <div class="item">
            <p>{{posts.obsah}}</p>
            
<div class="item" *ngFor="let komentar of posts.komentare">>
<p class="komentar">{{ komentare.obsah }} </p>
</div> 
</div>
    <p><br></p>

    <div class="comments">
      <form (ngSubmit)="(komentar.value)" class="komentForm">
        <input type="text" #komentar placeholder="Komentar" name="komentar" id="komentar" required>
        <button  (click)="pridatKomentar(komentar.value, posts.id)" type="submit" class="postComment">Vložit komentář</button>
      </form>
    </div> 
    </div>
    </div>
</div>
